body { margin: 0; padding: 0; }
.visible-checkbox {width: 50px; height: 30px;}
#datetime-display {text-align: right; margin-left: 30%; color: blanchedalmond; opacity: 0.75; bottom: 0px;}

#play-button {width: 5%; left: 1%; background: black; opacity: 0.75; border-radius: 5px;}
#pause-button {width: 5%; left: 20%; background:white; opacity: 0.75; border-radius: 5px;}
@media only screen and (max-width: 600px) {
    #play-button {width: 15%; left: 2%; background: black; opacity: 0.75; border-radius: 5px;}
    #pause-button {width: 15%; left: 21%; background:white; opacity: 0.75; border-radius: 5px;}
}

#animation-slider-wrapper {position: absolute; z-index: 99; left: 1%; bottom: 12%; background:white; opacity: 0.75; padding: 1%; width: 15%;}
@media only screen and (max-width: 600px) {
    #animation-slider-wrapper {position: absolute; z-index: 99; left: 1%; bottom: 15%; background:white; opacity: 0.75; padding: 1%; width: 40%;}
}
#animation-controls-wrapper {position: absolute; z-index: 99; bottom: 3%;}
.legend-cell {background-color: black; opacity: 0.8;}
#map { position: absolute; top: 0; bottom: 0; width: 100%; }
#msl-qpe-legend {color: #388BF7; text-shadow: 2px 2px 2px black;}
#ghe-qpe-legend {color:rgb(102, 255, 102); text-shadow: 2px 2px 2px black;}

#date-range-slider {margin-top:100px; }
#date-range-slider-wrapper {position: absolute; z-index: 100; bottom: 6%;height: 15%; width: 50%; opacity: 0.75; right: 15%;}

.ui-rangeSlider-container {background:#eee;  height:20px; width:500px; left: 10px;}

.ui-rangeSlider-label {bottom:35px; color:#fff; background:#0578c1; padding:11px; font:bold 12px arial;}

.ui-rangeSlider-handle {background:darken(#0578c1, 10%);}

.ui-rangeSlider-bar {background:#0578c1; height:20px;}
    
.ui-rangeSlider-innerBar {background:transparent; height:20px;}

