/* Always set the map height explicitly to define the size of the div
   element that contains the map. */
html, body {
  font-family: 'Didact Gothic', sans-serif !important;
}
#map {
  position: absolute;
  height: 90%;
  width: 98%;
}
.page-header {
  text-align: center;
}
footer {
  position: absolute;
  bottom: 0px;
}
.control-button-border { 
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 3px;
  box-shadow: 0 2px 6px rgba(0,0,0,.3);
  cursor: pointer;
  margin-bottom: 22px;
  text-align: center;
}
.control-text {
  color: rgb(25,25,25);
  font-size: 16px;
  line-height: 38px;
  padding-left: 5px;
  padding-right: 5px;
}
.timePicker {
  width: 315px;
  font-size: 16px;
}
.controls {
  margin: 10px;
}
#loader-gif {
  content:url("https://media.giphy.com/media/y1ZBcOGOOtlpC/giphy.gif");
}
#loader-gif-div {
  position: absolute;
  top: 50%;
  left: 40%;
  z-index: 99;
  display: none;
}
#legend {
  background: #fff;
  padding: 10px;
  margin: 10px;
  border: 3px solid #000;
}
#green-div{
  display: inline-block;
  background-color:green;
  width: 100%;
  text-shadow:none;
  color: black;
}
#yellow-div{
  display: inline-block;
  background-color:yellow;
  width: 100%;
  text-shadow:none;
  color: black;
}#red-div{
  display: inline-block;
  background-color:red;
  width: 100%;
  text-shadow:none;
  color: black;
}
#info-box{
  background-color:white;
  width:100%;
}
.pac-container{
  z-index:9999;
}
#popupResults{
  z-index:9999;
}
